@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ff7613;
  --text-color: #727171;
}

html {
  font-size: 10 px;
}

/* Common styles */

body {
  font-family: inter, sans-serif;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.profile_image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.profile_image img {
  width: 100%;
  height: auto;
  display: block;
}

.profile_description {
  margin-top: 1re;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-color);
}

.title {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}
/* Layouts */
.container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  padding: 5rem;
  background: #070707;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

@media only screen and (max-wiidth: 768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 7rem;
    padding: 3rem;
  }
}

.profile {
  grid-column: 1 / -1;
  margin-bottom: 2rem;
}

.group_1, .group_2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.group_3 {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.group_3 > div {
  flex: 1;
}

.item_preTitile {
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  .profile {
    margin-bottom: 0;
  }
  .group_3 {
    flex-direction: column;
  }
}

.item_title {
  font-size: 1.6rem;
  color: white;
  font-weight: 500;
  margin: 0.8rem 0;
}

.item_subtitle {
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 400;
  margin-bottom: 1rem;
}

.certification_item {
  margin-top: 2rem;
}

/* Profile */
.profile_container {
  display: flex;
  gap: 2rem;
}

.profile_image {
  max-width: 250px;
}

.profile_name_firstName {
  color: white;
  font-weight: 200;
  font-size: clamp(2rem, 8vw, 4rem);
  text-transform: uppercase;
  display: block;
  margin-bottom: -0.8rem;
}

.profile_name_lastName {
  color: var(--primary-color);
  font-weight: 700;
  font-size: clamp(2.5rem, 10vw, 7rem);
  text-transform: uppercase;
  display: block;
}

.profile_title {
  font-weight: 1.5rem;
  font-size: 400;
  text-transform: uppercase;
}

.download_button {
  display: block;
  text-decoration: underline;
  margin-top: 1rem;
  font-size: 1rem;
}

.download_button:hover {
  color: var(--primary-color);
}

@media only screen and (max-width: 768px) {
  .profile_container {
    flex-direction: column;
  }
}

/* Expertise */

.skills_list {
  margin-top: 1rem;
  margin-left: 2rem;
  line-height: 2;
}

/* Ref */

.ref_item {
  margin-top: 2rem;
}

.ref_name {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

/* Education */

.edu_item {
  margin-top: 2rem;
}

/* Experience */

.exp_item {
  margin-top: 2rem;
}

/* Awards */

.awards_items {
  margin-top: 2rem;
}

/* Interest */

.interest_items {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.interest_item {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--text-color);
}

.interest_item svg {
  width: 2rem;
}

.contact_info p {
  margin-bottom: 10px;
}

.social_items {
  margin-top: 2rem;
}

.social_item {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
  color: var(--text-color);
}

.social_item:hover {
  color: var(--primary-color);
}

.social_item svg {
  width: 2rem;
}

hr {
  grid-column: 1 /-1;
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 1rem;
  border: none;
  border-top: 2px solid rgba(128, 128, 128, 0.299);
}

@media only screen and (max-width:768px) {
  hr {
    margin: 0 auto;
  }
}